<!-- Loop over each object in the projects array and show all pets -->
<section id="car" class="container">
  {{#each cars as |car| }}
  <div id="carcards" >
    {{!-- <div class="col-md-7"> --}}
      <h2>
        <a href="/car/{{car.id}}">{{car.manufacturer}} {{car.title}}</a>
      </h2>
      
      <p><b>Sold by:</b> {{{car.user.name}}}</p>
    {{!-- </div> --}}
    {{!-- <div class="col-md-7"> --}}
      <p>
        <b>Manufacturer:</b> {{car.manufacturer}}
      </p>
    {{!-- </div> <div class="col-md-7"> --}}
      <p>
        <b>Description:</b> {{car.description}}
      </p>
    {{!-- </div> --}}
     {{!-- </div> <div class="col-md-7"> --}}
      <p>
        <b>Mileage:</b> {{car.mileage}} km
      </p>
    {{!-- </div>
     <div class="col-md-7"> --}}
      <p>
        <b>Price:</b> ${{car.price}}
      </p>
    {{!-- </div> --}}
    
   



  </div>

  {{/each}}
</section>

